/* TODO: Remove this on prod / GO LIVE */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Inter:wght@400;500&family=Merriweather:wght@400;700&display=swap');

/* @font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
    url('/fonts/Poppins-Bold.woff') format('woff'),
    url('/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.woff2') format('woff2'),
    url('/fonts/Poppins-Black.woff') format('woff'),
    url('/fonts/Poppins-Black.ttf') format('ttf');
  font-weight: 900;
  font-display: swap;
}
 */
